@use "Styles/variables";

.platforms {
  width: 100%;

  & .platform-actions {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto 10px;

    & > .platform-connector {
      position: relative;
      border: none;
      background-color: transparent;
      border-radius: 5px;
      padding: 10px 20px;
      color: #fff;
      transition-duration: 0.3s;
      text-decoration: none;
      overflow: hidden;
      font-weight: 500;

      @include variables.center;
      @include variables.retroShadow(5px);

      & > svg {
        height: 25px;
        width: 25px;
        margin-right: 10px;
      }

      &:visited {
        color: #fff;
      }

      &.github {
        & > svg path {
          fill: #fff;
        }

        & > .action-complete > svg path {
          fill: url("#ghlogo");
        }
      }

      &.bitbucket {
        & > .action-complete > svg path {
          fill: url("#bblogo");
        }
      }

      &:not(.disabled):hover {
        transform: translateY(-2px);
      }

      &.disabled {
        pointer-events: none;
        box-shadow: none;
      }
    }
  }

  & .form-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
