@use "Styles/variables";

.add-user {
	position: fixed;
	top: variables.$header-height;
	left: 0;
	height: 100vh;
	width: min(90%, 600px);
	visibility: hidden;
	transform: scaleX(0);
	transform-origin: 0% 50%;
	background-color: variables.$black;
	box-shadow: 2.5px 0 7.5px rgba(#000, 0.3);
	transition: visibility 0s variables.$modal-transition-duration, transform variables.$modal-transition-duration 0s cubic-bezier(0.33, 1, 0.68, 1);

	@media #{variables.$mq-957} {
		top: 0;
		left: variables.$header-width;
	}

	&.visible {
		visibility: visible;
		transform: scaleX(1);
		transition: visibility 0s 0s, transform variables.$modal-transition-duration 0s cubic-bezier(0.33, 1, 0.68, 1);
	}
}