@use "Styles/variables.scss";

.login-container {
  width: 90%;
  flex-direction: column;
  opacity: 0;
  animation: opacity 1s forwards;

  @include variables.center;

  & > .platform-authorizers {
    margin-top: 30px;
  }
}
