@use "Styles/variables";

.bar-graph {
	width: 100%;

	&>svg {
		overflow: visible;

		& .y-axis,
		& .x-axis {
			& line,
			& path {
				display: none;
			}
		}

		& .y-grid {
			& path,
			& line {
				stroke: variables.$hairline;
			}
		}

		& .tick {
			color: variables.$gray-text;
		}

		& rect {
			overflow: visible;
			stroke-linejoin: round;
			clip-path: inset(0% 0% 0% 0% round 40px 40px 0 0)
		}
	}
}