@use "Styles/variables";

.list-container {
  width: 100%;

  & > .list {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;

    @media #{variables.$mq-800} {
      gap: 2%;
    }
  }
}
