@use "Styles/variables";

.team-content > .comparison-row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	@media #{variables.$mq-800} {
		gap: 2%;
	}

	&>.tile {
		width: 100%;
		margin-bottom: 20px;

		&> div {
			padding: 20px;

			&> .t-heading {
				margin-bottom: 5px;
			}
		}

		@media #{variables.$mq-800} {
			width: 49%;
			max-width: 400px;
			margin-bottom: 0;
		}
	}
}