@use "Styles/variables.scss";

.search-section {
  width: 100%;
  position: relative;

  & > .section-description {
    transition: opacity 0.5s 0.5s;
  }

  & > .actions {
    position: absolute;
    top: 0;
    flex: 1;
    right: 0;
    width: 100%;
    display: flex;
    pointer-events: none;
    justify-content: flex-end;

    & > * {
      pointer-events: auto;
    }

    & > .add-button {
      margin-right: 10px;
    }

    & > .search-bar {
      &:focus {
        width: calc(100% - 60px);

        @media #{variables.$mq-800} {
          width: 350px;
        }
      }
    }
  }

  &.searching {
    & > .section-description {
      opacity: 0;
      transition: opacity 0.3s 0s;

      @media #{variables.$mq-800} {
        opacity: 1;
      }
    }
  }
}
