@use "Styles/variables";

.teammate {
  width: 100%;
  margin-bottom: 20px;

  @media #{variables.$mq-800} {
    width: 49%;
  }

  @media #{variables.$mq-1350} {
    width: 32%;
  }

  & > div {
    padding: 20px;
  }

  & .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10%;

    @media #{variables.$mq-390} {
      font-size: 1em;
    }

    @media #{variables.$mq-670} {
      font-size: 1.25em;
      justify-content: center;
    }

    @media #{variables.$mq-800} {
      font-size: 1em;
      justify-content: space-around;
    }

    @media #{variables.$mq-957} {
      font-size: 0.9em;
    }

    @media #{variables.$mq-1150} {
      font-size: 1.1em;
    }

    @media #{variables.$mq-1350} {
      font-size: 1em;
    }
  }

  & .edit-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;

    & > .edit-icon {
      height: 20px;
      width: 20px;
      margin: 10px 10px 0 0;
      transform: translateX(200%);
      transition-duration: 0.3s;

      & > path {
        fill: variables.$gray-text;
      }
    }
  }

  &:hover .edit-button > .edit-icon {
    transform: translateX(0%);
  }
}
