@use "Styles/variables";

.teammate {
  & .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10%;

    @media #{variables.$mq-390} {
      font-size: 1em;
    }

    @media #{variables.$mq-670} {
      font-size: 1.25em;
      justify-content: center;
    }

    @media #{variables.$mq-800} {
      font-size: 1em;
      justify-content: space-around;
    }

    @media #{variables.$mq-957} {
      font-size: 0.9em;
    }

    @media #{variables.$mq-1150} {
      font-size: 1.1em;
    }

    @media #{variables.$mq-1350} {
      font-size: 1em;
    }
  }
}
