@use "Styles/variables";

.bg-bar {
	height: 0;
	z-index: 2;
	transition: height 1s 0s;
	position: relative;

	@include variables.center;

	&>span {
		line-height: 1;
		display: block;
		color: #fff;
		transform: rotate(90deg);
		font-size: 0.8em;
		font-weight: 700;
		text-shadow: 0 0 2px rgba(#000, 0.35);
	}
}