/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable property-no-unknown */

@import "Styles/variables";

:export {
	headerHeight: $header-height;
	headerWidth: $header-width;
	black: $black;
	blackText: $black-text;
	grayText: $gray-text;
	hairline: $hairline;
	graphHeight: $graph-height;
	teal: $teal;
	purple: $purple;
}