@use 'sass:color';

/* ======================= VARIABLES ==================== */
$header-height: 70px;
$header-width: 250px;
$black: #171717;
$black-text: #545454;
$lightBlack-text: #727272;
$gray-text: rgb(167 167 167);
$hairline: rgb(239 239 239);
$graph-height: 300px;
$teal: #1ae0ff;
$purple: #c053df;
$dark-teal: color.adjust($teal, $lightness: -10%);

/* ======MEDIA QUERIES====== */
$mq-375: "(min-width: 375px)";
$mq-410: "(min-width: 410px)";
$mq-550: "(min-width: 550px)";
$mq-670: "(min-width: 670px)";
$mq-800: "(min-width: 800px)";
$mq-890: "(min-width: 890px)";
$mq-957: "(min-width: 957px)";
$mq-1000: "(min-width: 1000px)";
$mq-1070: "(min-width: 1070px)";
$mq-1150: "(min-width: 1150px)";
$mq-1350: "(min-width: 1350px)";
$mq-1700: "(min-width: 1700px)";
$mq-h-635: "(min-height: 635px)";
$mq-h-1024: "(min-height: 1024px)";
$mq-h-1051: "(min-height: 1051px)";
$mq-h-1400: "(min-height: 1400px)";

/* ======================= MIXINS ==================== */
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin noSelection {
  -webkit-touch-callout: none;
  user-select: none;
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}