@use "Styles/variables";

.teammate .row .stats {
  display: flex;
  flex-direction: column;

  & > span {
    color: variables.$lightBlack-text;
    font-size: 1.15em;
    margin-bottom: 15px;
  }

  & > table {
    & th,
    & td {
      color: variables.$gray-text;
      text-align: left;
      padding: 0 10px;
      font-size: 0.8em;
    }

    & tr td:first-of-type,
    & tr th:first-of-type {
      padding-left: 0;
    }

    & tr td:last-of-type,
    & tr th:last-of-type {
      padding-right: 0;
    }

    & th {
      font-weight: 500;
    }

    & td {
      padding: 10px 10px 0;
      font-weight: 700;
      color: variables.$gray-text;
    }
  }

  & .line-graph {
    margin: 20px auto 0;
    opacity: 0.65;
    filter: drop-shadow(0 2.5px 5px rgba(#000, 0.15));

    & .x-axis,
    & .y-axis,
    & .y-grid > path {
      display: none;
    }

    & path {
      stroke-linecap: round;
      stroke-width: 5;
    }
  }
}
