@use "Styles/variables";

.progress {
  height: 200px;
  width: 200px;
  position: relative;

  & > svg {
    height: 100%;
    width: 100%;

    &:first-of-type {
      & > circle {
        stroke-width: 8;
        stroke: variables.$hairline;
      }
    }

    &:last-of-type {
      top: 0;
      left: 0;
      position: absolute;

      @include variables.svgRingShadow;

      & > circle {
        stroke-width: 6;
        stroke-dasharray: 314;
      }
    }
  }

  & > span,
  & > div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 2em;
    color: variables.$gray-text;

    @include variables.center;
  }
}
