@use "Styles/variables";

.mobile-menu {
  position: fixed;
  top: variables.$header-height;
  right: 0;
  height: calc(100vh - variables.$header-height);
  width: 70%;
  max-width: 400px;
  background-color: variables.$black;
  z-index: 100;
  visibility: hidden;
  transform: translateX(110%);
  transform-origin: 100% 50%;
  transition:
    visibility 0s variables.$modal-transition-duration,
    variables.$modal-transition-duration 0s;
  box-shadow: -2.5px 0 7.5px rgba(#1a1a1a, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;

  @media #{variables.$mq-957} {
    display: none;
  }

  & > .waves {
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    z-index: 1;
  }

  & > ul {
    flex: 1;
    padding: 0;
    flex-direction: column;
    font-size: 5vh;
    list-style-type: none;
    z-index: 2;

    @include variables.center;

    & > li {
      margin: 2vh 0;
      opacity: 0;
      transform: translateX(150px);
      transition-duration: 1s;
      transition-delay: 0;
      width: 100%;

      @include variables.center;

      justify-content: flex-start;
    }
  }

  &.open {
    transform: translateX(0%);
    visibility: visible;
    transition:
      visibility 0s 0s,
      variables.$modal-transition-duration 0s;

    & > ul > li {
      --transition-delay: 250ms;

      opacity: 1;
      transform: translateX(0);
      transition-delay: var(--transition-delay);
      transition-duration: variables.$modal-transition-duration;
      transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    }
  }
}
