@use "Styles/variables";

.dashboard-content {
	width: 100%;
	margin-top: 20px;

	&>.row {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-flow: row wrap;
		margin-bottom: 20px;
		width: 100%;

		&.work {
			&>.tile > div {
				padding: 0;
			}
		}
	}
}