@use "Styles/variables";

.team-card {
  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    box-shadow:
      0 2.5px 5px rgba(#433f48, 0.2),
      0 5px 15px rgba(#9f95ab, 0.1);
  }

  & .t-content {
    width: 100%;
    gap: 30px;

    @include variables.center;

    & > .t-info {
      width: 100%;
      max-width: 350px;

      & > .t-name {
        color: variables.$black-text;
        font-weight: 600;
        font-size: 1.1em;
      }

      & > table {
        width: 100%;
        max-width: 240px;
        margin-top: 10px;

        & tr {
          & > th,
          & > td {
            text-align: left;
            color: variables.$black-text;

            &:last-of-type {
              text-align: right;
            }
          }

          & > th {
            font-size: 0.9em;
            color: variables.$gray-text;
            text-decoration: none;
          }

          & > td {
            padding: 5px 0;
            font-size: 2em;
          }
        }
      }
    }
  }
}
