@use "Styles/variables.scss";

.no-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  gap: 0 5%;

  @media #{variables.$mq-800} {
    flex-direction: row;
  }

  @media #{variables.$mq-957} {
    flex-direction: column;
  }

  @media #{variables.$mq-1250} {
    flex-direction: row;
  }

  & > .art,
  & > .text {
    flex-direction: column;

    @include variables.center;
  }

  & > .art {
    & > svg {
      width: 100%;
      height: auto;
      max-width: 250px;
      margin: 0 auto;

      @media #{variables.$mq-1250} {
        max-width: 300px;
      }
    }
  }

  & > .text {
    margin: auto;
    margin-top: 20px;
    max-width: 350px;

    @media #{variables.$mq-800} {
      margin: 0;
    }

    @media #{variables.$mq-957} {
      margin: auto;
      margin-top: 20px;
    }

    @media #{variables.$mq-1250} {
      margin: 0;
      font-size: 1.1em;
    }

    & > p {
      margin: 5px 0;
      color: variables.$gray-text;
      text-align: center;

      &:first-of-type {
        font-size: 1.5em;
        font-weight: 400;
      }

      &:last-of-type {
        font-style: italic;
      }
    }
  }
}
