@use "Styles/variables";

.team-content > .comparison-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media #{variables.$mq-670} {
    gap: 2%;
  }

  & > .tile {
    & > div {
      & > .t-heading {
        font-size: 0.95em;
        margin-bottom: 5px;
      }
    }
  }
}
