@use "Styles/variables";

.logo-large {
  font-weight: 700;
  font-size: 2.5em;
  margin: 0;

  @include variables.gradientText;

  @media #{variables.$mq-670} {
    font-size: 3em;
  }

  & > span {
    font-weight: 900;
  }
}
