@use "Styles/variables";

.greeting {
	display: flex;
	flex-direction: column;

	&>span {
		&:first-of-type {
			font-size: 1.5em;
			font-weight: 600;
			color: variables.$black-text;
			margin-bottom: 5px;

			@media #{variables.$mq-670} {
				font-size: 2em;
				margin-bottom: 10px;
			}
		}

		&:last-of-type {
			font-size: 1.1em;
			font-weight: 300;
			color: variables.$gray-text;

			@media #{variables.$mq-670} {
				font-size: 1.25em;
			}
		}
	}
}