@use "Styles/variables";

.progress-ring {
  height: 100%;
  width: 100%;
  overflow: visible;
  transform: rotate(-90deg);

  & > circle {
    stroke: #ff7300;
    stroke-width: 8px;
    fill: transparent;
    transition: stroke-dashoffset 1s 0s cubic-bezier(0, 0.55, 0.45, 1);
    stroke-linecap: round;
  }
}
