@use "Styles/variables";

.panel-screen .panel-kids {
  & > .closer {
    outline: none;
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: transparent;
    position: fixed;
    top: 20px;
    right: 20px;
    transition-duration: 0.2s;

    @include variables.retroShadow;
    @include variables.center;

    & > svg {
      height: 40px;
      width: 40px;

      path {
        stroke: url("#leftArrow");
        stroke-width: 1.5px;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  & > .branded-text {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 45px;
  }

  & > .detail {
    margin: 20px 0 0;
    color: variables.$login-gray;
    width: 100%;
    text-align: center;
  }

  & > form {
    margin: 20px auto 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
}
