@use "Styles/variables";

.toaster {
  position: fixed;
  top: calc(variables.$header-height + 10px);
  right: 10px;
  height: auto;
  max-height: 100vh;
  overflow: visible scroll;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  pointer-events: none;

  @media #{variables.$mq-957} {
    top: 10px;
  }
}
