@use "Styles/variables.scss";

#signUpContainer {
  width: 90%;
  flex-direction: column;
  opacity: 0;
  animation: opacity 1s forwards;
  position: relative;

  @include variables.center;

  & > .platform-authorizers {
    margin-top: 30px;
  }
}
