@import "Styles/variables";

.submitter {
	width: 100%;
	height: 45px;
	border-radius: 22.5px;
	border: none;
	outline: none;
	margin-top: 30px;
	background: linear-gradient(to left, #00d0ff, #00aeff);
	font-weight: 700;
	color: #fff;
	box-shadow: 0 2.5px 5px rgba(#000,0.15);
	transition-duration: 0.3s;
	position: relative;

	&:hover {
		transform: scale(1.05);
		box-shadow: 0 2.5px 5px rgba(#000,0.15),; box-shadow: 0 2.5px 10px rgba(#000,0.2)

	} 

	&>.basic-loader {
		position: absolute;
		top: 7.5px;
		left: calc(50% - 15px);
		transform: scale(0);
		visibility: hidden;
		transition: transform 0.3s, visibility 0s 0.3s;
	}

	&.loading {
		color: transparent;
		width: 45px;
		transform: scale(1.1);

		&>.basic-loader {
			transform: scale(1.4);
			visibility: visible;
			transition: transform 0.5s 0.2s, visibility 0s 0s;

			&>svg {
				stroke: #fff;
			} 
		}
	}
}