@use "Styles/variables";

.sign-up {
  width: 100%;
  flex-direction: column;
  opacity: 0;
  animation: opacity 1s forwards;

  @include variables.center;

  #signUp {
    width: 90%;
    height: 100%;
    position: relative;

    @include variables.center;
  }
}
