.onboarding {
  & form > div {
    display: flex;
    flex-direction: column;
  }

  & .default-select .options button {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
      height: 30px;
      width: 30px;
      margin-right: 10px;
    }

    &.active > svg > path,
    &.active > svg path {
      fill: #fff;
    }
  }
}
